@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 4rem;
}

.hamburg {
  display: none;
}

#gradient {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #14a0cf, #ea72f9);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  line-height: 1.2;
}


@media (max-width: 1024px) {

  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
  #theme-img {
    width: 24px;
    height: 24px;
  }

  .btn-theme {
    width: 5px;
    height: 5px;
  }

  .hamburg {
    display: block;
  }
  .hamburg span {
    display: flex;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .link {
    position: absolute;
    top: 11px;
    left: 0px;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    /* color: white; */
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 100%;
    justify-content: flex-start;
    line-height: 60px;
    padding-top: 40px;
  }

  .link.close {
    transform: rotate(90deg) translate(-100px, 800px);
    width: 90%;
    height: 60vh;
    transition: 0.6s ease all;
  }

  .link.open {
    transform: rotate(0deg) translate(0px, 53px);
    width: 70%;
    height: 60vh;
    transition: 0.6s ease all;
  }

  .hamburg.open span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .hamburg.open span:nth-child(2) {
    display: none;
  }
  .hamburg.open span:nth-child(3) {
    transform: rotate(-45deg) translate(-6px, 1px);
  }
}
